<!DOCTYPE html>
<html lang="en">

<head>
    <title>Toolz by Category</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Spectral&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
<nav class="z-depth-0" id="navbar">
  <div class="nav-wrapper grey darken-3">
    <a href="/" class="brand-logo center" id="brand">Toolz</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/login" data-target="login"
          class="btn waves-effect waves-light grey darken-2">Login</a></li>
    </ul>
    <form class="hide-on-med-and-down" id="search-form" action="/search/chain">
      <div class="input-field" style="max-width: 400pt;">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        {{!-- <button type="submit">Search</button> --}}
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

{{!-- Materialize Card format to generate card for each tool passed through the above for loop --}}
    <div class="tools-image2">
    <div class="container">
        <div class="row">
            {{#each tools}}
                <div id = "{{this.name}}"class="card col s3 m5">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" width = "250px" height = "250px" src="{{this.image}}">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{this.name}}<i class="material-icons right">more_vert</i></span>
                    <p><a href="../tools/{{this.id}}">More Information</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{this.price}}<i class="material-icons right">close</i></span>
                    <p>{{this.description}}.</p>
                        {{#if this.rented}}
                        <button class="btn waves-effect waves-light grey darken-1">OUT
                            <i class="material-icons right">build</i>
                        </button>
                        {{else}}
                        <button class="btn waves-effect waves-light grey darken-3 rent" data-tool-id="{{this.id}}"
                            data-owner-id="{{this.MemberId}}" data-tool-price="{{this.price}}">Rent
                            <i class="material-icons right">build</i>
                        </button>
                        {{/if}}                   
                    </div>
                </div>
            {{/each}}  
        </div>
    </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tool.js"></script>

</body>

</html>