{{!-- nav --}}
<nav>
  <div class="nav-wrapper blue darken-4">
    <a href="#!" class="brand-logo center">ToolZ</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="products.html">Rent</a></li>
      <li><a data-target="login" class="btn modal-trigger" id="runModal">Login</a></li>

    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="products.html">Rent</a></li>

</ul>

<div class="tools-image">
  <div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <form action="GET">
        <div class="card-content">
          <div class="input-field col s12">
            <input type="text" class="validate" name="tool" id="tool" placeholder="Search Tools" />
          </div>
          <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Search
            <i class="material-icons right">build</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="offer">
  <div class="container">

    <div class="row">
      <div class="col s12 m8 offset-2">
        <h1>{{msg}}</h1>
        <h3>Offer a tool for rent</h3>
        <form action="POST">

          <div class="input-field">
            <!-- <i class="material-icons prefix">account_circle</i> -->
            <input id="first-name" type="text" value="Tim Toolman Taylor">
            <label for="first-name">First Name</label>
          </div>
          <div class="input-field">
            <!-- <i class="material-icons prefix">build</i> -->
            <input id="tool-name" type="text">
            <label for="tool-name">Tool</label>
          </div>

          <div class="input-field">
            <!-- <i class="material-icons prefix">build</i> -->
            <select id="tool-category">
              <option value="" disabled selected>Choose your option</option>
              <option value="hand tools">Hand Tools</option>
              <option value="power tools">Power Tools</option>
              <option value="machine tools">Machine Tools</option>
            </select>
            <label for="tool-category">Category</label>
          </div>

          <div class="input-field">
            <textarea id="tool-description" class="materialize-textarea" data-length="120"></textarea>
            <label for="tool-description">Description</label>
          </div>

          <div class="input-field">
            <!-- <i class="material-icons prefix">build</i> -->
            <input id="tool-price" type="text" value="0">
            <label for="tool-price">Rent Price</label>
          </div>
          <button class="btn waves-effect waves-light blue darken-2" type="submit" id="post-tool" name="action">Submit
            <i class="material-icons right">build</i>
          </button>
        </form>
        <h3>Current Tools</h3>
        <ul id="example-list" class="list-group">
          {{#each tools}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="tools/{{this.id}}">{{this.name}} - {{this.description}} ${{this.price}} - </a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{!-- Modal containing login information --}}
    <div class="modal" id="login">
      <div class="row">
        <div class="col m6 center-align">
          <h2 class="center-align">Login</h2>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="pass" type="password" class="validate">
                  <label for="pass">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <p>
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                  </p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="row">
                <div class="col m12">
                  <p class="right-align">
                    <button class="btn btn-large waves-effect waves-light" type="button" name="action">Login</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/tool.js"></script>