<nav class="z-depth-0" id="navbar">
  <div class="nav-wrapper grey darken-3">
    <a href="#!" class="brand-logo center" id="brand">Toolz</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/login" data-target="login" class="btn waves-effect waves-light grey darken-2 modal-trigger">Login</a></li>
    </ul>
    <form class="hide-on-med-and-down" id="form1" >
        <div class="input-field" style="max-width: 400pt;">
          <input id="search" type="search" required onkeyup="triggerSearch(this.value);">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
          <div id="searchResults">
          </div>
        </div>
      </form>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="products.html">Rent</a></li>

</ul>

<div class="tools-image">
  <div class="valign-wrapper row login-box">
    {{!-- <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4"> --}}
    {{!-- <div class="col s12 m10 pull-m2 l6 pull-l6"> --}}
    <div class="col s12 center-align">
      <h3 class="callout">Share tools. Rent tools. Get stuff done.</h3>
    </div>
  </div>
</div>
<div id="offer">
  <div class="container">

    <div class="row">
      <div class="col s12 m6">
        <h3 class="heading-text rent-text">Offer your tools for rent</h3>
        <p class="rent-text">Remember that tile saw you bought a few years ago? Chances are its just sitting there
          collecting dust.</p><br>
        <p class="rent-text"><strong>Why not rent it out for a day or two to make some extra cash?</strong></p>
        <br>
        <p class="rent-text">Toolz has created a community of contractors, craftsman, and hobbyists that own every tool
          you can think of, for every specialty project you can imagine. Toolz allows you to borrow the tools you might
          buy and use only once - and rent out the tools that are collecting dust.</p>
      </div>
      <div class="col s12 m6">
        <h4 class="heading-text">Enter your info:</h4>

        <form action="POST">

          <div class="input-field">
            <!-- <i class="material-icons prefix">account_circle</i> -->
            <input id="first-name" data-renter-id="1" type="text" placeholder="Tim 'The Toolman' Taylor">
            <label for="first-name">First Name</label>
          </div>
          <div class="input-field">
            <input id="tool-name" type="text">
            <label for="tool-name">Tool</label>
          </div>

          <div class="input-field">
            <select id="tool-category">
              <option value="" disabled selected>Choose tool category</option>
              <option value="hand tools">Hand Tools</option>
              <option value="power tools">Power Tools</option>
              <option value="machine tools">Machine Tools</option>
            </select>
            <label for="tool-category">Category</label>
          </div>

          <div class="input-field">
            <textarea id="tool-description" class="materialize-textarea" data-length="120"></textarea>
            <label for="tool-description">Description</label>
          </div>

          <div class="input-field">
            <input id="tool-price" type="text" value="0">
            <label for="tool-price">Rent Price</label>
          </div>
          <button class="btn waves-effect waves-light white-text" style="background-color: #728F7A;" type="submit" id="post-tool" name="action">Submit
            <i class="material-icons right">build</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="tools-image2">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="heading-text-white">Current Tools</h3>
      </div>
    </div>
    <div class="row">
      {{#each tools}}
      <div class="col s12 m4">
        <div class="card blue darken-4">
          <div class="card-content white-text">
            <span class="card-title">{{this.name}} </span> <span>Owner {{this.MemberId}}</span>
            <p>{{this.description}}</p>
            <p>${{this.price}}</p>
          </div>
          <div class="card-action">
            <a href="tools/{{this.id}}">More info</a>
            {{!-- <a href="">Rent</a> --}}
            {{#if this.rented}}
            <button class="btn waves-effect waves-light gray darken-2">OUT
              <i class="material-icons right">build</i>
              </button>
            {{else}}
            <button class="btn waves-effect waves-light blue darken-2 rent" data-tool-id="{{this.id}}"
              data-owner-id="{{this.MemberId}}" data-tool-price="{{this.price}}">Rent
              <i class="material-icons right">build</i>
            </button>
            {{/if}}
          </div>
          </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{!-- Modal containing login information --}}
<div class="modal" id="login">
  <div class="row">
    <div class="col m6 center-align">
      <h2 class="center-align">Login</h2>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="pass" type="password" class="validate">
              <label for="pass">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>
                <input type="checkbox" id="remember">
                <label for="remember">Remember me</label>
              </p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col m12">
              <p class="right-align">
                <button class="btn btn-large waves-effect waves-light" type="button" name="action">Login</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/tool.js"></script>