<div class="tools-image2">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card blue darken-4">
                    <div class="card-content white-text">
                        <span class="card-title">{{tool.name}}</span>
                        <p>Tool ID #{{tool.id}}</p>
                        <p><strong>Description </strong> {{tool.description}}</p>
                        <p><strong>Price: </strong> ${{tool.price}}</p>
                        {{#if tool.rented}}
                        <button class="btn waves-effect waves-light gray darken-2">OUT
                            <i class="material-icons right">build</i>
                        </button>
                        {{else}}
                        <button class="btn waves-effect waves-light blue darken-2 rent" data-tool-id="{{tool.id}}"
                            data-owner-id="{{tool.MemberId}}" data-tool-price="{{tool.price}}">Rent
                            <i class="material-icons right">build</i>
                        </button>
                        {{/if}}
                    </div>
                    <div class="card-action">
                        <a class="white-text" href="/">← Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
